.proje-card h2 {
    margin: 15px 0;
    color: #4338CA;
    font-size: 1.5rem;
    font-weight: 600;
}
.proje-card p {
    color: #6B7280;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
}
.proje-spans span {
    border: 1px solid #3730A3;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    color: #3730A3;
    padding: 3px 15px;
    margin-right: 5px;
}
.links {
    display: flex;
    justify-content: space-between;
    color: #3730A3;
    font-size: 12px;
    font-weight: bold;
    padding-right: 40px;
    align-items: center;
    margin-top: 20px;
}