.card-skill {
    padding: 2px;
}
.card-skill img {
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 20px 0;
    color: #4338CA;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all ease .4s;
}
.card-skill img:hover {
    transform: scale(1.2);
}